body{
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image: url("imagens/tela de fundo/background.jpg");
    background-size: cover; /* Faz a imagem preencher a tela */
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: white; /* Cor do texto para contraste */
}